/* You can add global styles to this file, and also import other style files */
body {margin: 0%;
    background: url("img/background11.jpg") no-repeat; 
    background-color: white;
    background-size: 100%;
}*{ font-family: 'Yanone Kaffeesatz', sans-serif;}
    
.back{
    background: url("img/background10.jpg") no-repeat; 
    background-color: white;
    background-size: 100%;
    }
    
.baton{
    font-size: large;
    border-radius: 10px;
    padding: 5px;
}
.baton:hover{
    color: brown;
    text-shadow: 1px 1px 1px #000;
    cursor: pointer;
}

.inp{
    font-size: large;
    border-radius: 10px;
    padding: 5px;
}