<div *ngIf="!bookstore; else loggedOut" class="load">Магазины еще не созданы</div>
<ng-template #loggedOut>
    <div class="conteiner">
        <div class="filter">
            <select class="sel" [(ngModel)]="kategory " (ngModelChange)="emitSelected(kategory)">
                <!-- <option disabled >Категория</option> -->
                <option value="3" selected>Все товары</option>
                <option value="1">Книги</option>
                <option value="2">Канцелярия</option>
            </select>

            <div><br />Цена:</div>
            <input type="number" class="price" placeholder="От"
                [(ngModel)]="priceStart"
                style="width: max-content;">
            <input type="number" class="price" placeholder="До"
                [(ngModel)]="priveEnd"
                style="width: max-content;">
                <!-- <button class="baton" (click)="filterprice()">✔</button> -->
            <!-- фильтрация -->

            <div *ngIf="(kategory==1)||(kategory==3)" style="font-size: x-large;">
                <br>
                <div style="display: flex; direction: row;">
                    <div>Авторы </div>
                    <div class="batonED" style="font-size: 150%; margin-top: -7px;margin-left: 2px;"
                        (click)="addAuthor=true"> +</div>
                </div>
                <div *ngFor="let a of authors"
                    style="display: flex; direction: row;font-size: x-large;margin-top: 4px;">
                    <input type="checkbox" checked (change)="addauthor(a)">
                    <div>{{a.firstname}} {{a.lastname}} </div>
                    <div class="batonED" style="margin-left: 2px;" (click)="editAuthor(a)">🖉</div>
                    <div class="batonED" (click)="deleteAuthor(a)"> ✖</div>
                </div>
            </div>
        </div>
        <div class="conteinerRight">

            <input class="inp" placeholder="Поиск" [(ngModel)]="found">
            <!-- поиск -->
            <div *ngIf="((kategory==1)||(kategory==3))&&books" style="margin-top: 20px; font-size: large;">
                Книги:
                <div class="merchConteiner">
                    <div *ngFor="let b of books!|pricefilter:priceStart:priveEnd:found" class="merch">
                        <div class="close" (click)="deleteBook(b)">✖</div>
                        <!-- товары -->
                        <div (click)="clickEdBook(b)">
                            <!-- (click)="editBook(b)" -->
                            {{b.nameBook}}<br />
                            <div *ngIf="!lenAut(b.authors)" style="font-size: large; margin-top: 4px;">
                                {{b.authors[0].lastname}}
                            </div>
                            <div style="font-size: medium;  margin-top: 4px;">{{b.price}} Р</div>
                        </div>
                    </div>

                    <div class="merch" (click)="addBook=true">
                        <!-- кнопка добавления -->
                        <div>+</div>
                    </div>
                </div>
            </div>
            <div *ngIf="(kategory==2)||(kategory==3)" style="margin-top: 20px; font-size: large;">
                Канцелярия:
                <div class="merchConteiner">
                    <div *ngFor="let b of jproductS" class="merch">
                        <div class="close" (click)="deletJP(b)">✖</div>
                        <!-- товары -->
                        <div style="flex-direction: column"
                            (click)="clickEdJp(b)">
                            <div>{{b.nameProduct}}</div>
                            <div style="font-size: medium;margin-top: 4px;">{{b.price}} Р</div>
                        </div>
                    </div>
                    <div class="merch" (click)="addJP=true">
                        <div>+</div>
                        <!-- кнопка добавления -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<div *ngIf="addBook">
    <app-book [bookstore]="bookstore" title="Добавить новую книгу:" [authors]="authors"
        (closeEdit)="closeBook($event)"></app-book>
</div>
<div *ngIf="edBook">
    <app-book [book]="selectB" [bookstore]="bookstore" title="Редактировать книгу книгу:" title="Редактировать книгу"
        [authors]="authors" (closeEdit)="closeBook($event)"></app-book>
</div>
<div *ngIf="addAuthor">
    <app-author title="Добавить нового автора" (closeEdit)="closeAuthor($event)"></app-author>
</div>
<div *ngIf="edAuthor">
    <app-author title="Изменить автора" [author]="author" (closeEdit)="closeAuthor($event)"></app-author>
</div>

<div *ngIf="addJP">
    <app-j-product [bookstore]="bookstore" title="Добавить новую канцелярию"
        (closeEdit)="closeJP($event)"></app-j-product>
</div>
<div *ngIf="edJp">
    <app-j-product [bookstore]="bookstore" [jp]="selectJp" title="Изменить канцелярию"
        (closeEdit)="closeJP($event)"></app-j-product>
</div>