.conteiner {
    margin-top: 2%;
    display: flex;
    justify-content: flex-start;
    gap: 5%;
    align-items: flex-start
}
/* .baton{
    height: min-content;
} */

.filter {
    width: 1500px;
    justify-content: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    margin-left: 10%;
    font-size: 150%;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.price {
    font-size: 100%;
    width: 60px;
    margin-right: 5px;
    border-radius: 10px;
    padding: 5px;
}

.conteinerRight {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 300%;
    margin-right: 5%;
}

.inp {
    width: 805px;
    border-radius: 10px;
    font-size: 150%;
    padding: 5px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.merchConteiner {
    display: flex;
    gap: 2%;
    flex-wrap: wrap;
    flex-direction: row;
    width: 815px;
    
}

.merch {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    min-width: 150px;
    margin-top: 1%;
    justify-content: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    font-size: 150%;
    text-align: center;
    position: relative;
    align-items: center;
    display: flex;

}

.close{
    display: none;
  }
.merch:hover {
    color: brown;
    text-shadow: 1px 1px 1px #000;
    
}
.merch:hover .close{
    display: inline;
    position: absolute;
    right: 5px;
    top: 15px;
    color: #5f00007e;
    font-size: 60%;
    margin-right: 7.5px;
    margin-top: -8px;
  }

  .merch:hover .close:hover{
    border: 2px;
    text-shadow: 0.5px 0.5px 0.5px #000;
    color: rgba(55, 0, 255, 0.074);
    cursor: pointer;
  }
.load {
    font-size: 150%;
    text-align: center;
    margin-top: 1%;
}

.sel{
    font-size: x-large;
    border-radius: 10px;
    padding: 5px;
    width: max-content;
}
.sel:hover{
    color: brown;
    text-shadow: 1px 1px 1px #000;
    cursor: pointer;
}

.batonED {
    color: #000000;
    font-size: 100%;
    margin-right: 7.5px;
    margin-top: -8px;
  }
  
  .batonED:hover {
    font-size: 110%;
    margin-right: 5px;
    margin-top: -11px;
    border: 2px;
    text-shadow: 0.5px 0.5px 0.5px #000;
    color: brown;
  }
