.conteiner {
    margin-top: 2%;
    display: flex;
    justify-content: flex-start;
    gap: 5%;

}

.filter {
    /* display: flex; */
    width: 1500px;
    justify-content: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    margin-left: 10%;
    font-size: 150%;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.price{
    font-size: 100%;
    width: 60px;
    margin-right: 5px;
}
.conteinerRight {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 300%;
    margin-right: 5%;
}

.inp {
    width: 805px;
    border-radius: 10px;
    font-size: 150%;
    padding: 5px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.merchConteiner {
    display: flex;
    gap: 2%;
    flex-wrap: wrap;
    flex-direction: row;
    width: 815px;
    /* align-items: stretch; */
    /* justify-content: flex-start; */
}

.merch {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    min-width: 150px;
    margin-top: 2%;
    justify-content: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    font-size: 150%;
    text-align: center;
}

.merch:hover {
    color: brown;
    text-shadow: 1px 1px 1px #000;
}